<div class="move-log-container">
    <div class="title">
        <span>Moves</span>
    </div>
    <div class="moves" *ngFor="let move of moves; let i = index">
        <div class="row">
            <div class="column index">
                <span>{{i+1}}. </span>
            </div>
            <div class="column move">
                <span>{{move[0]}}</span>
            </div>
            <div class="column move">
                <span>{{move[1]}}</span>
            </div>
        </div>
    </div>
</div>