.container {
    position: relative;
    top: 0;
    left: 0;
}

.board {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    left: 0;
}

.a2-pawn {
    cursor: pointer;
    position: absolute;
    top: 679px;
    left: 168px;
    max-width: 8%;
}

.b2-pawn {
    cursor: pointer;
    position: absolute;
    top: 679px;
    left: 270px;
    max-width: 8%;
}

.c2-pawn {
    cursor: pointer;
    position: absolute;
    top: 679px;
    left: 372px;
    max-width: 8%;
}

.d2-pawn {
    cursor: pointer;
    position: absolute;
    top: 679px;
    left: 473px;
    max-width: 8%;
}

.e2-pawn {
    cursor: pointer;
    position: absolute;
    top: 679px;
    left: 578px;
    max-width: 8%;
}

.f2-pawn {
    cursor: pointer;
    position: absolute;
    top: 679px;
    left: 678px;
    max-width: 8%;
}

.g2-pawn {
    cursor: pointer;
    position: absolute;
    top: 679px;
    left: 780px;
    max-width: 8%;
}

.h2-pawn {
    cursor: pointer;
    position: absolute;
    top: 679px;
    left: 882px;
    max-width: 8%;
}

.a1-rook {
    cursor: pointer;
    position: absolute;
    top: 779px;
    left: 168px;
    max-width: 8%;
}

.h1-rook {
    cursor: pointer;
    position: absolute;
    top: 779px;
    left: 882px;
    max-width: 8%;
}

.b1-knight {
    cursor: pointer;
    position: absolute;
    top: 779px;
    left: 270px;
    max-width: 8%;
}

.g1-knight {
    cursor: pointer;
    position: absolute;
    top: 779px;
    left: 780px;
    max-width: 8%;
}

.c1-bishop {
    cursor: pointer;
    position: absolute;
    top: 779px;
    left: 372px;
    max-width: 8%;
}

.f1-bishop {
    cursor: pointer;
    position: absolute;
    top: 779px;
    left: 678px;
    max-width: 8%;
}

.white-queen {
    cursor: pointer;
    position: absolute;
    top: 779px;
    left: 473px;
    max-width: 8%;
}

.white-king {
    cursor: pointer;
    position: absolute;
    top: 779px;
    left: 578px;
    max-width: 8%;
}

.a7-pawn {
    cursor: pointer;
    position: absolute;
    top: 168px;
    left: 168px;
    max-width: 8%;
}

.b7-pawn {
    cursor: pointer;
    position: absolute;
    top: 168px;
    left: 270px;
    max-width: 8%;
}

.c7-pawn {
    cursor: pointer;
    position: absolute;
    top: 168px;
    left: 372px;
    max-width: 8%;
}

.d7-pawn {
    cursor: pointer;
    position: absolute;
    top: 168px;
    left: 474px;
    max-width: 8%;
}

.e7-pawn {
    cursor: pointer;
    position: absolute;
    top: 168px;
    left: 576px;
    max-width: 8%;
}

.f7-pawn {
    cursor: pointer;
    position: absolute;
    top: 168px;
    left: 678px;
    max-width: 8%;
}

.g7-pawn {
    cursor: pointer;
    position: absolute;
    top: 168px;
    left: 780px;
    max-width: 8%;
}

.h7-pawn {
    cursor: pointer;
    position: absolute;
    top: 168px;
    left: 882px;
    max-width: 8%;
}

.a8-rook {
    cursor: pointer;
    position: absolute;
    top: 68px;
    left: 168px;
    max-width: 8%;
}

.h8-rook {
    cursor: pointer;
    position: absolute;
    top: 68px;
    left: 882px;
    max-width: 8%;
}

.b8-knight {
    cursor: pointer;
    position: absolute;
    top: 52px;
    left: 255px;
    max-width: 10.5%;
}

.g8-knight {
    cursor: pointer;
    position: absolute;
    top: 52px;
    left: 765px;
    max-width: 10.5%;
}

.c8-bishop {
    cursor: pointer;
    position: absolute;
    top: 68px;
    left: 372px;
    max-width: 8%;
}

.f8-bishop {
    cursor: pointer;
    position: absolute;
    top: 68px;
    left: 678px;
    max-width: 8%;
}

.black-queen {
    cursor: pointer;
    position: absolute;
    top: 68px;
    left: 474px;
    max-width: 8%;
}

.black-king {
    cursor: pointer;
    position: absolute;
    top: 68px;
    left: 576px;
    max-width: 8%;
}