<div class="container">    
    <img class="board" src="../../assets/images/board.jpg" alt="chess-board">
    <img (click)="pieceClicked(a2Pawn)" class="a2-pawn" src="../../assets/images/white_pawn.png" alt="pawn">
    <img class="b2-pawn" src="../../assets/images/white_pawn.png" alt="pawn">
    <img class="c2-pawn" src="../../assets/images/white_pawn.png" alt="pawn">
    <img class="d2-pawn" src="../../assets/images/white_pawn.png" alt="pawn">
    <img class="e2-pawn" src="../../assets/images/white_pawn.png" alt="pawn">
    <img class="f2-pawn" src="../../assets/images/white_pawn.png" alt="pawn">
    <img class="g2-pawn" src="../../assets/images/white_pawn.png" alt="pawn">
    <img class="h2-pawn" src="../../assets/images/white_pawn.png" alt="pawn">
    <img class="a1-rook" src="../../assets/images/white_rook.png" alt="rook">
    <img class="h1-rook" src="../../assets/images/white_rook.png" alt="rook">
    <img class="b1-knight" src="../../assets/images/white_knight.png" alt="knight">
    <img class="g1-knight" src="../../assets/images/white_knight.png" alt="knight">
    <img class="c1-bishop" src="../../assets/images/white_bishop.png" alt="bishop">
    <img class="f1-bishop" src="../../assets/images/white_bishop.png" alt="bishop">
    <img class="white-queen" src="../../assets/images/white_queen.png" alt="queen">
    <img class="white-king" src="../../assets/images/white_king.png" alt="king">
    <img class="a7-pawn" src="../../assets/images/black_pawn.png" alt="pawn">
    <img class="b7-pawn" src="../../assets/images/black_pawn.png" alt="pawn">
    <img class="c7-pawn" src="../../assets/images/black_pawn.png" alt="pawn">
    <img class="d7-pawn" src="../../assets/images/black_pawn.png" alt="pawn">
    <img class="e7-pawn" src="../../assets/images/black_pawn.png" alt="pawn">
    <img class="f7-pawn" src="../../assets/images/black_pawn.png" alt="pawn">
    <img class="g7-pawn" src="../../assets/images/black_pawn.png" alt="pawn">
    <img class="h7-pawn" src="../../assets/images/black_pawn.png" alt="pawn">
    <img class="a8-rook" src="../../assets/images/black_rook.png" alt="rook">
    <img class="h8-rook" src="../../assets/images/black_rook.png" alt="rook">
    <img class="b8-knight" src="../../assets/images/black_knight.png" alt="knight">
    <img class="g8-knight" src="../../assets/images/black_knight.png" alt="knight">
    <img class="c8-bishop" src="../../assets/images/black_bishop.png" alt="bishop">
    <img class="f8-bishop" src="../../assets/images/black_bishop.png" alt="bishop">
    <img class="black-queen" src="../../assets/images/black_queen.png" alt="queen">
    <img class="black-king" src="../../assets/images/black_king.png" alt="king">
</div>
